<header>
  <div class="container">
    <a class="logo" routerLink="/">AstroSales</a>
    <nav>
      <ul>
        <li><a routerLink="/flights">Loty</a></li>
        @if (isLoggedIn) { @if (isAdmin) {
        <li><a routerLink="/admin">Panel</a></li>
        } @else {
        <li><a routerLink="/account">Konto</a></li>
        }
        <li><a href="#" (click)="logout()">Wyloguj</a></li>
        } @else {
        <li>
          <a routerLink="/login">Zaloguj się</a>
        </li>
        }
      </ul>
    </nav>
  </div>
</header>
