<section id="about-us">
  <div class="container-1">
    <div class="image">
      <img
        src="../../assets/images/astronaut-image.png"
        alt="astronaut image"
      />
    </div>
    <div class="content">
      <p>
        Jesteśmy AstroSales - zespół założony z myślą o fantastycznych i
        nieosiągalnych jak dotąd lotach komsicznych. Podążaj za swoimi
        marzeniami i osiągaj to co niedostępne dla innych. Razem z nami sięgnij
        gwiazd i zwiedzaj inne planety. Pamiętaj "Jutro jest dziś"!
      </p>
      <span><a href="#">Kup bilet</a> i rozpocznij gwiezdną przygodę!</span>
    </div>
  </div>
</section>

<section id="our-ships">
  <div class="container-2">
    <div class="content">
      <p>
        Zawsze zastanawiałeś/aś się jak to może być na innej planecie? Teraz
        masz możliwość to sprawdzić! Nasze w pełni bezpieczne promy udostępnią
        ci bardzo przyjemny i komfortowy lot. Nie zwlekaj dłużej i spełniaj
        marzenia z nami!
      </p>
    </div>
    <div class="image">
      <img
        src="../../assets/images/space-ship-image.png"
        alt="astronaut image"
      />
    </div>
  </div>
</section>
