.loaderDiv {
  margin-top: 5rem;
  width: 100%;
  text-align: center;
}

.loaderDiv box-icon {
  height: 5rem;
  width: 5rem;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
