<div class="container">
  <h1>Nie masz konta?</h1>
  <h2>Zarejestruj się!</h2>
  <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
    <input formControlName="email" type="email" placeholder="Email address" />
    <input formControlName="password" type="password" placeholder="Password" />
    @if (errorMessage != '') {
    <div class="error-box">
      <span>{{ errorMessage }}</span>
    </div>
    }
    <button
      type="submit"
      [disabled]="!registerForm.valid"
      [class]="{ 'disabled-button': !registerForm.valid }"
    >
      Zarejestruj
    </button>
  </form>
  <div class="reminder">
    <a routerLink="/login">Zaloguj</a>
  </div>
</div>
