.wrapper {
  margin: 0 auto;
  width: 80%;
  margin-top: 5rem;
}

.header {
  background-color: rgb(22, 8, 145);
  padding: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.header h1 {
  font-size: 2.5rem;
  color: whitesmoke;
  font-weight: 400;
}

.interface {
  display: flex;
}

.navigation {
  width: 30%;
}

.navigation li {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  border-radius: 0.3rem;
  outline: 0.5px solid lightgray;
  transition: ease 0.2s;
}

.navigation li:hover {
  outline: 0.5px solid black;
  cursor: pointer;
}

.selected {
  background-color: rgb(22, 8, 145);
  color: whitesmoke !important;
}

.contentWrapper {
  width: 70%;
}

.content {
  width: 80%;
  margin-left: auto;
}
