.wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
}

.left,
.right {
  width: 50%;
}

.flight-details {
  box-shadow: 0 0 1rem black;
  border-radius: 25px;
  padding: 1rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.title span {
  font-size: 2rem;
  padding: 0.5rem;
}

.date,
.time,
.start-place,
.end-place {
  display: flex;
  justify-content: space-between;
}

.text,
.content {
  width: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.text span,
.content span {
  width: 60%;
  padding: 0.1rem;
}

.content {
  font-weight: bold;
}

.places-container {
  display: flex;
  justify-content: center;
}

.places-container .places {
  width: 80%;
  font-size: 1.2rem;
}

.premium-tickets .header,
.standard-tickets .header {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.standard-sector,
.vip-sector {
  width: 600px;
}

.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#place {
  background-color: green;
  width: 100px;
  padding: 1rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin: 0.5rem;
  color: whitesmoke;
}

#place:hover {
  cursor: pointer;
  background-color: rgb(9, 188, 9);
  box-shadow: 0 0 1rem black;
}

.container .not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .not-found h1 {
  padding: 2rem;
  font-size: 2.5rem;
}

.description {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 1.2rem;
  margin-top: 2rem;
}

.description span {
  font-size: 0.9rem;
  margin-left: 2rem;
}
