@if (tickets.length != 0) { @for (ticket of tickets; track ticket) {
<div class="ticket">
  <div class="date">
    <img src="../../assets/images/calendar.svg" alt="calendar icon" />
    {{ ticket.dateOfFlight | date : "dd-MM-y" }}
  </div>
  <div class="time">
    <img src="../../assets/images/clock.svg" alt="clock icon" />
    {{ ticket.dateOfFlight | date : "HH:mm" }}
  </div>
  <div class="start-place">{{ ticket.startingPlace }}</div>
  <div class="end-place">{{ ticket.landingPlace }}</div>
</div>
}} @else {
<h2 class="no-tickets">{{ message }}</h2>
}
